
  
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  background: #fdfdfd;
  font-size: 62.5%;
}


/** Ultra Light */
@font-face {
  font-family: "San Francisco-ultra-light";
  font-weight: 100;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff");
}

/** Thin */
@font-face {
  font-family: "San Francisco-thin";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
}

/** Regular */
@font-face {
  font-family: "San Francisco-regular";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

/** Medium */
@font-face {
  font-family: "San Francisco-m";
  font-weight: 500;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
}

/** Semi Bold */
@font-face {
  font-family: "San Francisco-semi-bold";
  font-weight: 600;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
}

/** Bold */ 
@font-face {
  font-family: "San Francisco-bold";
  font-weight: 700;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}

/*---------------utility------------------*/
.head1{
  
  font-style: normal;
  text-align: center;
  font-size:3rem;
  font-family: 'San Francisco-bold';
 }
 .head2{
  font-family: "San Francisco-semi-bold";
  font-style: normal;
  text-align: left;
  font-size:2rem;
 text-align: center;
 
}
.heading-bg{

font-size:2rem;
font-family: "San Francisco-bold";



}
 .lead1{
  padding:0;
  margin:0;
  font-size:1.5rem;
  font-family: "San Francisco-semi-bold";

 }
 .lead2{

line-height:0.5rem;
 font-size: 1.5rem;
  color:black;
  font-family: "San Francisco-semi-bold";

 }
.lead-3{
  font-size: 1.5rem;
  font-family: "San Francisco-regular";

}
 .lead-bg{
  
   font-size:1.8rem;
   color:#838383;
   font-family: "San Francisco-regular";

 }


 .hr1{

  border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(40, 40, 40, 0.3), rgba(0, 0, 0, 0));
    margin-bottom: 35px;
    background-color: transparent !important;
    width:60%;
}


#mood-time{

  font-size:1.5rem;
  font-family: "San Francisco-semi-bold";
  color:#D3D3D3;
}











  #map {
    height: 30%;
  }
  
main{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
  #profile{
    position: relative;
    top:-100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   

   
  }

  .ago{
    color: #D3D3D3;
    font-size:16px;
    font-style: normal;
  }


  .profile-image{
    height: 200px;
    width: 200px;
   border: 5px solid;
   border-color:#332C39;
   object-fit: cover;
   border-radius:50%;
  }
  .content{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
 
 .upconming-table {
  border-collapse: collapse;

}


.upconming-table td {
  width:150px;
  text-align:center;
  padding:3px;

}
.upconming-table th{
  border-top: 1px solid #D3D3D3
  ;
  padding: 5px;
  border-width:2px;
 
}

.isFelling{
  text-align: center;
  width:100%;
}


#helthTable {
 
  margin-bottom: 30px;
  width: 100%;
  text-align: left;
  color: #3f3f3f;
  border-collapse: collapse;
  border: 1px solid #e8e8e8;
  
}
#helthTable tr:nth-of-type(even) {
    background: #f7f7f7;

}
.highlighted-text{
  padding:2px;
  background: #fefea5;
  font-family: "San Francisco-regular";

}

#helthTable td{

  padding:5px;
  margin:5px;
}
.personal-slider{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.slider {
  width:100%;
  padding: 0;
  margin: 0;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 22%;
  gap: .3rem;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  cursor: grab;
  margin-top: 5rem;
  padding-inline: 1rem;
}
.slider::-webkit-scrollbar {
  display: none;
}
.slide img {
  inline-size: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-radius: .2rem;
}
.background-section{
  padding-top:5rem;
 
  width:100%;  
  display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}



@media (max-width: 440px) {
 .personal-slider h2 {
    text-align: center;

  }
  .slider {
    grid-auto-columns: 40%;
  }

  .heading-bg{
    padding:5px;
    font-size:1.5rem;
    font-family: "San Francisco-bold";
    }
    .head1{
      font-size: 1.5rem;
    }
    .lead-bg{
      padding: 5px;
    }
    .profile-image{
      height: 100px;
      width: 100px;
     border: 5px solid;
     border-color:#332C39;
     object-fit: cover;
     border-radius:50%;
    }
    #profile{
      position: relative;
      top:-50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
     
  
     
    }
}


